header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container {
  margin: 0 20%;
}

/* Estilos adicionales para el logo */
.logo img {
  max-width: 200px;
  height: auto;
}

/* Estilos adicionales para el menú de navegación */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Agrega estilos adicionales para el header si es necesario */
