<header class="d-flex justify-content-between align-items-center p-3 bg-light">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo" />
  </div>
  <nav>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#inicio">Inicio</a></li>
      <li class="list-inline-item"><a href="#proyectos">Proyectos</a></li>
      <li class="list-inline-item"><a href="#experiencia">Experiencia</a></li>
      <li class="list-inline-item"><a href="#habilidades">Habilidades</a></li>
      <li class="list-inline-item"><a href="#educacion">Educación</a></li>
      <li class="list-inline-item"><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>
