@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --color-primario: #1a237e;
  --color-secundario: #8bc34a;
  --color-resaltado: #ff5722;
  --color-fondo: #333333;
  --color-texto: #ffffff;
  --color-acento: #ffc107;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Code", monospace;
}

section {
  background-color: #1a237e;
  padding: 10%;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.cursor.active {
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}
