@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Code", monospace;
}

section {
  padding-top: 10%;
  margin: 0 10%;
}
