.home-section {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
}

.home-section .container {
  position: relative;
  z-index: 1;
}

.home-section h1 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.home-section h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}
